* {
  margin: 0;
  padding: 0;
}

:root {
  --nav-height: 3vh;
  --infobox-height: 1vh;
  --scroll-ratio: 0;
}

main {
  display: grid;
}

nav {
  position: fixed;
  width: 100%;
  /* height: var(--nav-height); */
  box-sizing: border-box;
  background-color: #fff;
}

nav a {
  margin: 0 1.5vw;
}

#scrollinfo {
  position: fixed;
  width: calc(var(--scroll-ratio) * 100%);
  height: var(--infobox-height);
  top: var(--nav-height);
  background-color: red;
}

.the_container {
  margin-top: calc(var(--nav-height) + var(--infobox-height));
  /* 아래 줄 없으면 scroll-behavior: smooth, 상단 nav, #scrollinfo position: fixed 적용 안됨 */
  height: calc(100vh - var(--nav-height) - var(--infobox-height));
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */

  /* SLOWER and FASTER exercise */
  perspective: 2px;
}

.the_container section {
  /* make section tag showing on screen fully */
  height: calc(100vh - var(--nav-height) - var(--infobox-height));
  overflow: hidden;
  scroll-snap-align: start end;
}

.the_container section h1 {
  font: 20vw Arial;
}

.box {
  position: absolute;
  width: 20vw;
  height: 30vw;
  background-color: #fff;
}

.img {
  position: absolute;
  width: 20vw;
  height: 30vw;
}

/* @keyframes hovering {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.img:hover {
  animation: hovering 1s;
} */

#i1 {
  transform: translateZ(-1px) translateX(-50px) translateY(100px) scale(1.5);
}
#b1 {
  transform: translateZ(1px) translateX(350px) translateY(150px) scale(0.5);
  background-color: red;
}
#section_1 {
  background-color: #88ff00;
  text-align: right;
}

#i2_1 {
  border-radius: 25px;
  transform: translateZ(-1px) translateX(1500px) translateY(60px) scale(1.5);
}
#b2_1 {
  border-radius: 25px;
  transform: translateZ(1px) translateX(720px) translateY(120px) scale(0.5);
  background-color: yellow;
}
#i2_2 {
  border-radius: 25px;
  transform: translateZ(-1px) translateX(1000px) translateY(60px) scale(1.5);
}
#b2_2 {
  border-radius: 25px;
  transform: translateZ(1px) translateX(920px) translateY(120px) scale(0.5);
  background-color: yellowgreen;
}
#section_2 {
  background-color: #00ff88;
}
#section_2 h1 {
  margin-top: 50vh;
  margin-left: 10vh;
  font-family: "Black Han Sans", sans-serif;
}

#section_3 {
  background-color: #52e7ce;
}
#section_4 {
  background-color: #5e9eda;
}
#section_5 {
  background-color: #7758e7;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
.the_container::-webkit-scrollbar {
  display: none;
}
